footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #928a8b;
  height: 50px;
  padding: 0 15px; }

main {
  grid-area: main;
  background-color: #5e5d5b;
  background-size: cover; }

.mainTextoUno {
  grid-area: main;
  font-family: arima;
  font-size: 25px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  text-align: center;
  color: white; }

.mainTextoDos {
  grid-area: main;
  display: flex;
  font-family: arima;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  color: white; }

.mainTextoTres {
  grid-area: main;
  display: flex;
  font-family: arima;
  font-size: 20px;
  padding: 30px 25px;
  text-align: justify;
  color: white; }

.centroHistorico {
  grid-area: main;
  height: 400px;
  width: 600px;
  padding: 30px 25px; }

.contenedor {
  font-family: arima;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: black; }

.contenedorDos {
  font-family: arima;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #BDE5CE;
  padding-bottom: 50px; }

.fieldset {
  padding-bottom: 20px; }

.contactoUno {
  background-image: url(../img/telefono.jpg);
  background-size: cover; }

.media {
  display: flex;
  justify-content: center; }

.videoDeRoma {
  grid-area: videoDeRoma;
  height: 400px;
  width: 600px;
  padding: 30px 25px; }

.media2 {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: space-between; }

.media3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@media screen and (max-width: 768px) and (max-width: 1024px) {
  .titulo {
    display: none; }
  .navBar ul li, .mainTextoUno, .mainTextoDos, .mainTextoTres {
    font-size: 15px; }
  .media, .media2, .media3 {
    display: flex;
    flex-direction: column; } }

header {
  grid-area: header;
  background-color: #5e5d5b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  top: 0;
  position: sticky;
  background-color: #e9d3d3;
  background-image: linear-gradient(90deg, #e9d3d3 0%, #7c747c 100%); }

.titulo {
  grid-area: header;
  margin-right: 20px;
  color: #454343;
  font-size: 45px;
  font-family: arima; }

h2 {
  font-family: arima;
  font-size: 40px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  text-align: center;
  color: white; }

.navBar ul {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navBar ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 20px; }

ul li a {
  text-decoration: none;
  color: black;
  font-family: arima; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Arima;
  src: url(../fuentes/Arima.ttf); }

.loba {
  background-image: url(../img/loba.jpg); }

.lugares {
  background-color: #5e5d5b; }

.monumentos {
  background-color: #848381; }

.entretenimiento {
  background-color: #2d2a25; }
