footer {
  background-color: #bab7b7; }

.mainTextoUno, .mainTextoDos {
  grid-area: main;
  font-family: serif;
  font-size: 25px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  text-align: center;
  color: white; }

.mainTextoDos {
  display: flex;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify; }

.centroHistorico {
  grid-area: main;
  height: 400px;
  width: 600px;
  padding: 30px 25px; }

main {
  grid-area: main;
  background-color: #5e5d5b;
  background-size: cover; }

.mainTextoUno, .mainTextoDos {
  grid-area: main;
  font-family: arima;
  font-size: 25px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  text-align: center;
  color: white; }

.mainTextoDos {
  grid-area: main;
  display: flex;
  font-family: arima;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  color: white; }

.mainTextoTres {
  grid-area: main;
  display: flex;
  font-family: arima;
  font-size: 20px;
  padding: 30px 25px;
  text-align: justify;
  color: white; }

.mb-4 {
  margin-bottom: 1.5rem !important; }

.contenedor {
  font-family: arima;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: black; }

.contenedorDos {
  font-family: arima;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #BDE5CE;
  padding-bottom: 50px; }

.fieldset {
  padding-bottom: 20px; }

.contactoUno {
  background-image: url(../img/telefono.jpg);
  background-size: cover; }

.romaDescrizione {
  background-color: aliceblue;
  opacity: 85%; }

.titulo {
  grid-area: header;
  margin-right: 20px;
  color: #454343;
  font-family: arima; }

header {
  grid-area: header;
  background-color: #5e5d5b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  top: 0;
  background-color: #a6a3a3; }

h1 {
  font-size: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 5px;
  padding-bottom: 25px;
  text-align: center;
  color: #111112;
  opacity: 85%;
  background-color: aliceblue; }

h2 {
  font-family: arima;
  font-size: 40px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  text-align: center;
  color: white; }

.navBar ul {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .navBar ul li {
    list-style: none;
    margin: 0 10px;
    font-size: 30px; }

ul li a {
  text-decoration: none;
  color: #efdddd;
  font-family: serif;
  text-transform: uppercase; }

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.videoDeRoma {
  height: 500px;
  width: 800px;
  padding: 40px 25px;
  padding-left: 200PX; }

.media2 {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: space-between; }

.media3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.romaColiseo {
  background-image: url(../img/romecoliseo.jpg); }

@media screen and (max-width: 768px) and (max-width: 1024px) {
  .titulo {
    display: none; }
  .navBar ul li, .mainTextoUno, .mainTextoDos, .mainTextoDos, .mainTextoTres {
    font-size: 20px; }
  .media, .media2, .media3 {
    display: flex;
    flex-direction: column; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Gelasio-Medium;
  src: url(../fuentes/Gelasio-Medium.ttf); }

.loba {
  background-image: url(../img/loba.jpg); }

.lugares {
  background-color: #5e5d5b; }

.monumentos {
  background-color: #848381; }

.entretenimiento {
  background-color: #2d2a25; }
