  
  footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #928a8b;
    height: 50px;
    padding: 0 15px;
  }
  
  
  
  