header {
    grid-area: header;
    background-color:$color-primario;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    top: 0;
    position: sticky;
    background-color: #e9d3d3;
    background-image: linear-gradient(90deg, #e9d3d3 0%, #7c747c 100%);
    }

.titulo {
    grid-area: header;
    margin-right: 20px;
    color: rgb(69, 67, 67);
    font-size: 45px;
    font-family: arima;
      }

h2 {
    font-family: arima;
    font-size: 40px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    }
      
      
.navBar ul {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      
        li {
          list-style: none;
          margin: 0 10px;
          font-size: 20px;
        }
      }
      
      ul li a {
        text-decoration: none;
        color: black;
        font-family: arima;
      }