main {
    grid-area: main;
    background-color: $color-primario;
    background-size: cover;
  }

.mainTextoUno {
    grid-area: main;
    font-family: arima;
    font-size: 25px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    text-align: center;
    color: white;
  }
  
  .mainTextoDos {
    grid-area: main;
    display: flex;
    font-family: arima;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    color: white;
  }
  
  .mainTextoTres {
    grid-area: main;
    display: flex;
    font-family: arima;
    font-size: 20px;
    padding: 30px 25px;
    text-align: justify;
    color: white;
  }
  .centroHistorico {
    grid-area: main;
    height: 400px;
    width: 600px;
    padding: 30px 25px;
  }
  
  .contenedor {
    font-family: arima;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: black;
  }
  
  .contenedorDos {
    font-family: arima;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #BDE5CE;
    padding-bottom: 50px;
  }
  .fieldset {
    padding-bottom: 20px;
  }
  .contactoUno {
    background-image: url(../img/telefono.jpg);
    background-size: cover;
  }